body{
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(255, 0, 0);
    margin: 30px;
}
.topo{
    background-color: rgb(0, 0, 0);
    padding: 30px;
}
.topo a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

article{
    background-color: rgb(255, 0, 0);
    color: black;
    padding: 30px;
    margin-bottom: 30px;
    
}
article a{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    text-decoration: none;
    padding: 5px;
}
.rodape{
    background-color:black;
    color: rgb(255, 0, 0);
    padding: 30px;
}
.menu{
    padding: 30px;
}